#### I want to make prediction whether someone buy the product after seeing the product's advertisement. I Try with logistic regression.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
# find empty column etc
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

User ID tidak diperlukan sehingga perlu di drop

In [8]:
# drop data id

data = df.drop(columns=['User ID'])
data

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [9]:
# process the one hot encoding with pd.get_dummies() cause half of our data is categorical 
data = pd.get_dummies(data)
data

     Age  EstimatedSalary  Purchased  Gender_Female  Gender_Male
0     19            19000          0              0            1
1     35            20000          0              0            1
2     26            43000          0              1            0
3     27            57000          0              1            0
4     19            76000          0              0            1
..   ...              ...        ...            ...          ...
395   46            41000          1              1            0
396   51            23000          1              0            1
397   50            20000          1              1            0
398   36            33000          0              0            1
399   49            36000          1              1            0

[400 rows x 5 columns]

In [10]:
# step : separate the atribut and label
prediction = ['Age', 'EstimatedSalary', 'Gender_Female', 'Gender_Male']
x= data[prediction]
y= data['Purchased']

##### Before separate train set and testing set, do the normalization

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
# making object scaler. Benefit of fit function is to calculating average and standar deviation to the be used in transform function

scaler = StandardScaler()
scaler.fit(x)

StandardScaler()

In [13]:
scaled_data = scaler.transform(x)
scaled_data

array([[-1.78179743, -1.49004624, -1.02020406,  1.02020406],
       [-0.25358736, -1.46068138, -1.02020406,  1.02020406],
       [-1.11320552, -0.78528968,  0.98019606, -0.98019606],
       ...,
       [ 1.17910958, -1.46068138,  0.98019606, -0.98019606],
       [-0.15807423, -1.07893824, -1.02020406,  1.02020406],
       [ 1.08359645, -0.99084367,  0.98019606, -0.98019606]])

In [14]:
scaled_data = pd.DataFrame(scaled_data, columns=x.columns)
scaled_data.head()

        Age  EstimatedSalary  Gender_Female  Gender_Male
0 -1.781797        -1.490046      -1.020204     1.020204
1 -0.253587        -1.460681      -1.020204     1.020204
2 -1.113206        -0.785290       0.980196    -0.980196
3 -1.017692        -0.374182       0.980196    -0.980196
4 -1.781797         0.183751      -1.020204     1.020204

#### Separate the train set and testing set

In [15]:
from sklearn.model_selection import train_test_split

# split train test and testing set for each attribute and label
x_train, x_test, y_train, y_test = train_test_split(scaled_data, y, test_size = 0.2, random_state = 1)

In [17]:
from sklearn import linear_model

# train model with fit functions
model = linear_model.LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

In [18]:
model.score(x_test, y_test)

0.825