In [29]:
    import pandas as pd 
    from sklearn.model_selection import train_test_split
    from sklearn.tree import DecisionTreeClassifier

In [9]:
    iris = pd.read_csv('Iris.csv')
    iris.info
    iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [17]:
iris.shape

(150, 5)

In [12]:
iris.drop('Id', axis=1, inplace=True)
iris.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [22]:
# separate attribut and label
X = iris[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm','PetalWidthCm']]
y = iris['Species']

# separete train data and testing data
X_TRAIN, X_test, y_train, y_test = train_test_split(X, y, random_state = 123, test_size = 0.1)

In [25]:
# train the model use fit function
tree_model = DecisionTreeClassifier()
tree_model = tree_model.fit(X_TRAIN, y_train)

In [32]:
# test the model use predict function
from sklearn.metrics import accuracy_score
y_pred = tree_model.predict(X_test)
acc_score = round(accuracy_score(y_pred, y_test),3)
print("Hasil Akurasi : ",acc_score)

Hasil Akurasi :  0.933

In [33]:
# use sample case to test result of predict
print(tree_model.predict([[6.2, 3.4, 5.4, 2.3]])[0])

Iris-virginica

c:\users\niman\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(